/*Add your custom css here!*/

body{
    font-family: 'Open Sans', sans-serif;
    color: #545454;
    
}

p{
    font-weight: 300;
}

h4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
}

a {
    color: #CBA19F;
    text-decoration: none;
    transition: all .40s ease-in;
    -moz-transition: all .40s ease-in;
    -webkit-transition: all .40s ease-in;
}

a:hover, a:focus {
    color: #AE9595;
    text-decoration: none;
}

a.active {
    color: #717171;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.margin-top-44 {
    margin-top: 44px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-bottom-60{
    margin-bottom: 60px;
}

.margin-bottom-34{
    margin-bottom: 34px;
}


.margin-bottom-32{
    margin-bottom: 32px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.line-height-100{
  line-height: 100px;  
}


.font-16{
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-50{
    font-size: 50px;
}

.font-60{
    font-size: 60px;
}

.font-80{
    font-size: 80px;
}

.border-right {
    border-right: 1px solid #f8f8f8;
}

.top-menu ul {
    list-style-type: none;
}

.top-menu ul li{
    display: inline;
    padding-left: 48px;
}

.top-menu ul li a {
    color: #717171!important;
    border: 0;
}

.top-menu ul li a:hover {
color: #b7b7b7!important;
}

ul.blog-nav{
    list-style-type: none;
    padding-left: 0;
}

.blog-nav li{
   display: inline; 
   border-left: 1px solid #545454;
   padding: 0 5px 0 8px;
}

.blog-nav li:first-child{
    border-left:none;
    padding: 0 5px 0 0;
}

.blog-nav li a{
    font-weight: 300;
    line-height: 50px;
}


.post-wrapper {
    width: 100%;
    height: 200px;
}


.post-text {
    height: 120px;
    overflow: hidden;
}

.darkblue {
    color: #0e1021;
}

.btn {
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 300;
    padding: 5px 15px;
}

.btn-primary {
    border: 2px solid #CBA19F;
    background: #CBA19F;
    color: #fff;
    transition: all .40s ease-in;
    -moz-transition: all .40s ease-in;
    -webkit-transition: all .40s ease-in;
}

.btn-primary:hover, btn-primary:focus {
    border: 2px solid #CBA19F;
    background: transparent;
    color: #CBA19F;
}

.gray-hr {
    border-color: #f8f8f8;
    margin: 40px 0;
}


.pager li>a, .pager li>span {
    padding: 0;
    border: none;
    display: inline;
    font-weight: 300;
}

.pager li>a:focus, .pager li>a:hover {
    background: none;
}

.footer {
    background: #414141;
    color: #b7b7b7;
    padding-top: 40px;
}

.footer a {
    color: #fff;
}

.relative-top-minus-20 {
    position: relative;
    top: -20px;
}

ul.footer-nav{
    list-style-type: none;
}

.footer-nav li {
    display: inline;
    padding-left: 20px;
}